argparse==1.4.0
astropy==4.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
corner==2.0.1
cycler==0.10.0
dask==2.10.0
emcee==3.0.2
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.2
numpy==1.18.1
pandas==1.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
readline==6.2.4.1
requests==2.22.0
ruamel-yaml==0.16.7
ruamel.yaml.clib==0.2.0 ; platform_python_implementation == 'CPython' and python_version < '3.8'
scipy==1.4.1
seaborn==0.10.0
six==1.14.0
soupsieve==1.9.5
triangle==20190115.3
urllib3==1.25.8
